.popup__content {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  width: 430px;
  padding: 0;
  position: relative;
  align-self: baseline;
  padding-bottom: 37px;
  margin-top: 193px;
}

@media screen and (max-width: 880px) {
  .popup__content {
    max-width: 282px;
    align-self: baseline;
    margin-top: 125px;
    padding-bottom: 22px;
  }
}
