.popup__name {
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  width: 358px;
  height: 27px;
  margin: auto;
  outline: none;
}

.popup__name::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width: 880px) {
  .popup__name {
    width: 238px;
  }
}
