.element__rectangle {
  display: block;
  background-color: white;
  background-image: url(../../../Images/Vector\ \(Stroke\).png);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 22px;
  height: 19px;
  border: none;
}

.element__rectangle:hover {
  opacity: 0.5;
}

.element__hard:active {
  background: #000000;
}

